.button{
  color: black;
  font-size: 30px;
  padding: 20px;
  width: 90px;
  border-color: lightgray;
  margin: 2px;
  font-family: Arial;
  text-align: center;
}

.screen{
  font-family: Arial;
  border: 2px solid black;
  padding-left: 10px;
  margin-bottom: 10px;
  height: 95px;
}
#secondaryDisplay{

}
.row{

}
.container{
  width: 410px;
  padding-bottom: 15px;
  padding-top: 30px;
  align-items: stretch;
  border-style: solid;
}